.bx--label{
    font-size: large;
}

.container {
    margin: 30px;
    // width: 50%;
    // text-align: center;
    font-weight: bold;
    border: 3px solid green;
    padding: 10px;
}

.subBtn{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}

.vl {
    border-left: 2px solid teal;
    // right: 50%;
    // margin-left: -3px;
    // top: 0;
  }

  .bx--data-table--sort th,td{
    text-align: center;
  }